# Secrets
.secrets
.env
.env.*
.env.local
.env.production

# Next.js
.next/

# Expo
.expo/

# Build outputs
build/
dist/
coverage/

# Logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Misc
.DS_Store
.idea
.vscode
pnpm-lock.yaml
